:root {
  --color-primary: #4785d2;
  --color-primary-alt: #ffe1bd;
  --color-primary-alt-2: #ffb43b;
  --color-secondary: #4785d2;
  --color-secondary-alt: #e2ecf8;

  // Button
  --color-link-icon: var(--color-gray-4);
  --color-link-active: var(--color-primary);
  --color-navigation-link: var(--color-gray-5);
  --color-header-button: #f7f7f7;
  --color-button-border: var(--color-gray-3);

  // Button
  --color-link: var(--color-primary);
  --color-button-primary-bg: var(--color-primary-alt-2);
  --color-button-primary-bg-hover: #ffe28f;
  --color-button-primary-text: #38567a;
  --color-button-primary-hover-text: var(--color-primary);
  --color-button-secondary-bg-hover: #edf2f7;
  --color-button-toggle-text: #38567a;
  --color-button-toggle-bg: var(--color-primary-alt);

  // Color
  --color-background: #f9f9f9;
  --color-background--splash: #212529;
  --color-border: #ededed;
  --color-background-overlay: #21252980;
  --color-nag: #fa8700;
  --color-error: #fcafca;
  --color-comment-menu: #e0e0e0;
  --color-comment-menu-hovering: #6a6a6a;
  --color-notice: #fef3ca;
  --color-purchased: var(--color-cost);
  --color-purchased-alt: #ffebc2;
  --color-purchased-text: var(--color-gray-5);
}
